@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

:root {
  --text: #d6d4d9;
  --background: #020303;
  --primary: #4eedae;
  --secondary: #1b160e;
  --surface: #0a0c0b;
  --accent: #44e4a5;
  --accent-secondary: #156345;
  --padding-horizontal: 5vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  /*border: 1px solid #8a2be2;*/
}

html,
body {
  background-color: var(--background);
  width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25vh;
}

.accent {
  color: var(--accent);
}

section {
  align-items: center;
  margin: 5vh 20px;
  box-shadow: rgb(38, 57, 77) 0px 22px 70px 4px;
  border-radius: 7px;
  background: var(--surface);
  padding: 20px 10px;
  width: 90%;
  overflow: hidden;
  color: var(--text);
}

section > h1 {
  color: var(--text);
  position: relative;
  font-size: 1.3rem;
  left: 0;
  width: auto;
  top: 0;
  font-family: "Ubuntu Mono", "Roboto Mono", monospace;
}

hr.rounded {
  margin: 10px 0;
  border-top: 1px solid gray;
  border-radius: 5px;
  width: 80%;
}

section > p {
  color: var(--text);
  font-size: 1rem;
  font-family: "Ubuntu Mono", "Roboto Mono", monospace;
}

@media screen and (min-width: 768px) {
  section > h1 {
    font-size: 1.3rem;
  }

  section > p {
    font-size: 1.3rem;
  }
}