.card {
  height: fit-content;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.techList {
  margin: 0.5rem 0;
}

.tech {
  background-color: var(--accent-secondary);
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  color: var(--on-text);
}