/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

html,
body {
  background-color: var(--background);
  width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto Mono", monospace;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  margin-bottom: 15vh;
}

.container {
  font-family: "Ubuntu Mono", "Roboto Mono", monospace;
  color: var(--text);
  padding: 1rem;
}

.title {
  text-align: center;
  margin-top: 10vh;
}

.projectGrid {
  margin-top: 7vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}