footer {
  display: flex;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 22px 70px 4px;
  background: var(--surface);
  padding: 20px 10px;
  width: 100vw;
}

footer > .footer-menu {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.footer-item {
  justify-content: space-between;
  align-items: center;
  margin: 0 5vw;
  font-size: 0.9rem;
}

#footer-divider {
  margin: 10px 10px;
  border-radius: 5px;
  width: 90%;
}

footer > p {
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .footer-link {
    font-size: 1.1rem;
  }

  #footer-divider {
    border-radius: 5px;
    height: 1px;
    width: 80%;
  }

  #trademark {
    font-size: 1.1rem;
  }
}