li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  border-bottom: 2px solid var(--accent-secondary);
  background: var(--background);
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 5px auto;
  background-color: var(--accent);
  width: 25px;
  height: 3px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background: var(--background);
  padding-right: 20px;
}

.nav-item {
  margin-left: 5rem;
}

.nav-item > a {
  font-size: 1.1rem;
}

.nav-link {
  color: var(--text);
  font-size: 1rem;
}

.nav-link:hover {
  color: var(--text);
}

.nav-logo {
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 5.1rem;
    right: -100%;
    flex-direction: column;
    transition: all 0.5s ease;
    box-shadow: 3px 3px 7px var(--accent);
    border-radius: 10px 0px 0px 10px;
    background-color: var(--background);
    padding: 0;
    width: 50%;
    text-align: center;
  }

  .nav-logo {
    margin-left: 0;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    align-items: center;
    margin: 2.5rem 0;
    border-bottom: 1px solid var(--accent);
    padding-bottom: 7px;
    width: 65%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
