main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  width: 95%;
  height: 30vh;
}

#title {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

#subtitle {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
}

#main-btns-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
}

#btn-portfolio {
  cursor: pointer;
  margin-right: 3vw;
  box-shadow: rgb(38, 57, 77) 0px 22px 70px 4px;
  border: 2px solid var(--accent);
  border-radius: 30px;
  background-color: var(--background);
  width: 30vw;
  height: 5vh;
  color: var(--accent);
  max-width: 250px;
  max-height: 50px;
  font-weight: bold;
  font-size: 1rem;
}

#btn-blog {
  cursor: pointer;
  margin-left: 3vw;
  box-shadow: rgb(38, 57, 77) 0px 22px 70px 4px;
  border: 2px solid var(--accent);
  border-radius: 30px;
  background-color: var(--accent);
  width: 30vw;
  max-width: 250px;
  max-height: 50px;
  height: 5vh;
  color: var(--background);
  font-weight: bold;
  font-size: 1rem;
}
